* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

ul {
    display:flex;
}

li {
    list-style: none;
}

.mr li:not(:last-child) {
    margin-right: 15px;
}

// Typography
a {
    text-decoration: none;
    color: currentColor;
}


