* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    background-color: $brand-background;
}

.container {
    width: 90%;
    margin: auto;
}

.site_nav {
    font-weight: 600;
}

.introduction {
    text-align: center;
}

.introduction__container {
    width: 50%;
    margin: auto;
}

ul {
    display:flex;
}

@for $i from 1 through 2 {
    .padding--v#{$i} {
        padding: 50px * $i;
    }
}

// labels 
.brand_label {
    background-color: $brand-primary;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}