* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

.site_nav {
    font-weight: 600;
}

ul {
    display:flex;
}

// labels 
.brand_label {
    background-color: $brand-primary;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}