.footer_menus {
    .fl--space_between {
        align-items: flex-start;
    }
    i {
        margin-right: $box-spacing1;
    }
    ul {
        display: block;
    }
    li {
        margin-bottom: $box-spacing1;
    }
    .logoEsocials {
        img {
            margin-bottom: $box-spacing2;
        }
    }
    .socials ul {
        display: flex;
    }
}