.footer_menus {
    i {
        margin-right: $box-spacing1;
        color: #979c9c;
    }
    ul {
        display: block;
    }
    li {
        margin-bottom: $box-spacing1;
    }
    .logoEsocials {
        img {
            margin-bottom: $box-spacing2;
        }
    }
}