.popular_recipes {
    .showcase {
        width: 100%;
        justify-content: space-between;
        .showcase__half:last-child {
            display: flex;
            flex-wrap: wrap;
            .exhibit_box {
                width: 50%;
                padding-left: $box-spacing1;
                padding-bottom: $box-spacing1;
                img {
                    height: 100%;
                    vertical-align: bottom;
                }
            }
        }
    }
}

.culinary__collection {
    .showcase {
        justify-content: space-between;
        flex-wrap: wrap;
        .card {
            width: calc(90% / 4);
            padding: $box-spacing1;
            margin-bottom: $box-spacing2;
            cursor: pointer;
            h4 {
                padding: 10px 0;
                text-transform: uppercase;
            }
            &:hover h4 {
                color: #fff;
                background-color: $brand-primary;
            }
        }
    }
}