.hero {
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 300px;
    .todays_article {
        // da cancellare
        width: 30%;
        // da cancellare
        background-color: #fff;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 0);
        border-radius: 7px;
        .container {
            position: relative;
            text-align: center;
            .brand_label {
                    position: absolute;
                    transform: translate(-50%, -55%);
                    padding: 8px 15px;
                    font-weight: 600;
                }
            h1 {
                padding-top: 30px;
            }
            span {
                display: block;
                padding: 20px 0;
            }
        }
    }
    .foodie_journal {
        // da cancellare
        width: 300px;
        height: 300px;
        background-color: yellow;
        // da cancellare
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 70%);
        border-radius: 7px;
    }
}