body {
    font-family: 'Catamaran', sans-serif;
    color: $brand-secondary;
}

h1, h3 {
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}

h3 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

.mr li:not(:last-child) {
    margin-right: 15px;
}

.socials a {
    font-size: 18px;
    color: $brand-icons;
}