$brand-background: #f0eeeb;
$box-background: #fff;
$brand-primary: #fc7525;
$brand-secondary: #262628;
$brand-icons: #afafaf;
$brand-links: #0492ad;
$box-spacing1: 15px;
$box-spacing2: 30px;
$font-primary: 'Vidaloka', serif;
$font-secondary: 'Catamaran', sans-serif;
$fsize-small: 14px;
$fsize-medium: 18px;